* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url('/fonts/AbrilFatface-Regular.ttf');
    font-weight: 400;
    font-style: normal;   
}

/* .header */

.header {
    padding: 18px 312px;
}

.header__cap {
    display: flex;
    justify-items: baseline;
    justify-content: space-between;
    gap: 708px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.header__nabla {
    margin: 7px 0 8px;
    display: flex;
    color: 040062;
}
.header__list {
    margin-block: 10px 0px;
    padding-inline-start: 0%;
    list-style: none;
    display: flex;
    gap: 20px;
}

.header__up {
    color: #0013FF; 
    text-decoration: none;
    display: flex;
    font-size: 16px;
    font-family: 'Ubuntu', Arial, sans-serif;
}

.header__button {
    display: inline-block; /* Позволяет задать отступы и другие свойства */
    text-decoration: none; /* Убирает подчеркивание ссылки */
    width: 163px; /* размеры кнопки */
    height: 38px;
    justify-content: end;
    background-color: #0013FF;
    font-family: 'Ubuntu', Arial, sans-serif;
    color: white; 
    padding: 10px 20px; /* отступы текста */
    border: none; /* убрать классический стиль кнопки */
    border-radius: 20px; /* скругление краёв кнопки */
    cursor: pointer;
    font-size: 16px;
}

/* header */

/* .first */

.first__header {
    padding: 0px 314px 0px 314px;
    margin-bottom: 60px;
}

.first__nabla {
    padding: auto;
    list-style: none;
    color: #040062;
    background-color: #C7E3E9;
    font-family: 'Abril Fatface', serif;
    position: relative;
}

.first__text {
    position: absolute;
    top: 80px;
    left: 318px;
    bottom: 230px;
    right: 318px;
    
}

.first__txt {
    padding: 0px;
    text-align: center;
    font-size: 60px;
}

.first__txt2 {
    font-size: 80px;
}

.first__txt3 {
    font-size: 110px;
}

.first__list {
    margin-inline: calc(20px);
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
}

.first__image {
    position: relative;
    justify-content: center;
    list-style: none;
    display: inline-flex;
}

.first__img {
    padding: 0px; 34px;
    justify-content: left;
    list-style: none;
    display: flex;
    position: absolute;
    left: 30px;
    bottom: 0px;
}

.first__img3 {
    padding: 0px; 34px;
    justify-content: right;
    list-style: none;
    display: flex;
    position: absolute;
    right: 30px;
    bottom: 0px;
}

