* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Ubuntu;
    src: url('fonts/Ubuntu-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Ubuntu;
    src: url('fonts/Ubuntu-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Ubuntu;
    src: url('fonts/Ubuntu-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Ubuntu;
    src: url('fonts/Ubuntu-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url('/fonts/AbrilFatface-Regular.ttf');
    font-weight: 400;
    font-style: normal;   
}

/* .header */

.header {
    padding: 18px 312px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    max-width: 1296px;
    gap: 50px;
}

.header__cap {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.header__nabla {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px - 354px);
    max-width: 856px;
    gap: 50px;
}


.header__list {
    padding-inline-start: 0%;
    list-style: none;
    display: flex;
    gap: 20px;
}

.header__up {
    color: #0013FF; 
    text-decoration: none;
    display: flex;
    font-size: 16px;
    font-family: 'Ubuntu', Arial, sans-serif;
}

.header__button {
    display: inline-block; /* Позволяет задать отступы и другие свойства */
    text-decoration: none; /* Убирает подчеркивание ссылки */
    min-width: 163px; /* размеры кнопки */
    min-height: 38px;
    justify-content: end;
    background-color: #0013FF;
    font-family: 'Ubuntu', Arial, sans-serif;
    color: white; 
    padding: 10px 20px; /* отступы текста */
    border: none; /* убрать классический стиль кнопки */
    border-radius: 20px; /* скругление краёв кнопки */
    cursor: pointer;
    font-size: 16px;
}
@media screen and (max-width: 1024px) {
    .header {
        padding: 0 156px 0 156px;
    }
}



/* header */

/* .first */

.first {
    margin: 0px 314px 0px 314px;
    margin-bottom: 60px;
}

.first__section {
    margin: 0%;
    padding: 0%;
}

.first__nabla {
    max-width: 1296px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    color: #040062;
    background-color: #C7E3E9;
    font-family: 'Abril Fatface', serif;
    position: relative;
    gap: 80px;
}

.first__text {
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.first__txt {
    padding: 0px;
    text-align: center;
    font-size: 60px;
}

.first__txt2 {
    font-size: 80px;
}

.first__txt3 {
    font-size: 110px;
}

.first__list {
    display: flex;
    justify-content: center;
    gap: 34px;
    padding-bottom: 90px;
}

.first__list--image {
    width: 385px;
    display: flex;
    justify-content: space-between;
    gap: 34px;
    padding-left: 30px;
}



.first__img {
    padding-top: 29px;
}

.first__img--left {
    position: absolute;
    left: 30px;
    bottom: 0;

}

.first__img--right {
    position: absolute;
    right: 30px;
    bottom: 0; 
}

@media screen and (max-width: 1440px) {
    .first {
        padding: 14px 30px;
    }
    .first__img--left {
        display: none;
    }
    .first__img--right {
        display: none;
    }

@media screen and (max-width: 1024px) {
    .first {
        margin-left: 126px;
        margin-right: 126px;
    }
}
}

/* .first */

/* .content */

.content {
    display: block;
    margin-bottom: 100px;
}

.content__block {
    display: flex;
    justify-items: auto;
    margin: 0 314px;
    max-width: 1294px;
}

.content__image {
    display: flex;
    justify-content: center;
    border-radius: 36px;
}

.content__image--left, .content__image--right {
    display: flex;
    justify-content: center;
    padding: 70px 207px;
}

.content__image--right {
    background-color: #FEF1EF;
}

.content__image--left {
    background-color: #C7E3E9;
}

.content__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    
}

.content__txt--r {
    font-size: 48px;
    color: #040062;
    font-family: 'Abril Fatface', serif;
    padding: 0 100px 0 100px;
    justify-content: start;
    padding: calc(100% 30px - 30px);
}

.content__txt2--r {
    font-size: 18px;
    padding: 0 60px 0 100px;
    color: #6D758D;
    justify-content: start;
}

.content__txt--l {
    font-size: 48px;
    color: #040062;
    font-family: 'Abril Fatface', serif;
    padding-left: 60px;
    justify-content: start;
    padding: calc(100% 30px - 30px);
}

.content__txt2--l {
    font-size: 18px;
    padding: 0 180px 0 60px;
    color: #6D758D;
    justify-content: start;
}

@media screen and (max-width: 1440px) {
    .content__image--left, .content__image--right {
        display: flex;
        justify-content: center;
        padding: 35px 100px;
    }

@media screen and (max-width: 1024px) {
    .content {

    }
}
        
}

/* content */

/* footer */

.footer {
    padding: 0px 314px 0px 314px;
    border-top: #DCE0E9 1px;

}

.footer__footer {
    display: flex;
    justify-content: space-between;
    max-width: 1296px;
    height: 290px;
    padding-top: 80px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 180px;

}

.footer__info {
    padding-inline-start: 0%;
    list-style: none;
    display: flex;
    justify-content: baseline;
    gap: 120px;
}

.footer__nav {
    padding-inline-start: 0%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__end {
    color: #040062; 
    text-decoration: none;
    display: flex;
    font-size: 22px;
    font-family: 'Ubuntu', Arial, sans-serif;
}

.footer__end--small {
    color: #6D758D; 
    text-decoration: none;
    display: flex;
    font-size: 16px;
}

.footer__social {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 30px;
    padding-bottom: 25px;
}

.footer__end--right {
    padding-inline-start: 0%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 14px;
    gap: 10px;
}

.footer__nav--end {
    color: #6D758D; 
}

@media screen and (max-width: 1440px) {
    .footer__list {
        gap: 60px;
    }
    .footer__info {
        gap: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 0 156px 0 156px;
    }
    .footer__list {
        gap: 120px;

    }
    .footer__info {
        flex-direction: column;
        gap: 20px;
    }

}
