* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-head {
    border: 1920px 74px;
}

.header-nav {
    display: flex;
    }
.header-nabla {
    padding: 25px 1532px 25px 312px;
    display: flex;
    color: 040062;
}
.header-list {
    padding: 25px 1183px 25px 438px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-up {
    color: 040062; 
    text-decoration: none;
    display: flex;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.header-right {
    justify-content: end;
}