* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    }
.header-nabla {
    padding: 25px 50px 26px 312px;
    display: flex;
    color: 040062;
}
.header-list {
    padding: 28px 708px 28px 0px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-up {
    color: 040062; 
    text-decoration: none;
    display: flex;
    font-size: 16px;
    font-family: 'Ubuntu', Arial, sans-serif;
    
}

.header-button {
    width: 163px; /* размеры кнопки */
    height: 38px;
    justify-content: end;
    background-color: #0013FF;
    font-family: 'Ubuntu', Arial, sans-serif;
    color: white; 
    padding: 10px 20px; /* отступы текста */
    border: none; /* убрать классический стиль кнопки */
    border-radius: 20px; /* скругление краёв кнопки */
    cursor: pointer;
    font-size: 16px;
}

.header-but {
    padding: 18px 312px 18px 0px;
}

.header-li {
    padding: 0px;
}

.header-nabla1 {
    color: 040062;
    background-color: #C7E3E9
}

.header-list1 { 
    list-style: none;
    text-align: center;
    padding: 0px 0px 0px 0px;
    
}

.header-list2 {
    padding: 0px 0px 0px 0px;
    list-style: none;
    display: blockflex;
}

.header-hand {
    padding: 0px 314px 0px 314px;
}

