* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
=======

>>>>>>> 25a17c8106ef7dc25101204f9d11cec6ddd2bd85
@font-face {
    font-family: Ubuntu;
    src: url('fonts/Ubuntu-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Ubuntu;
    src: url('fonts/Ubuntu-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Ubuntu;
    src: url('fonts/Ubuntu-Medium.ttf');
    font-weight: 500;
}
<<<<<<< HEAD
=======

>>>>>>> 25a17c8106ef7dc25101204f9d11cec6ddd2bd85
@font-face {
    font-family: Ubuntu;
    src: url('fonts/Ubuntu-Bold.ttf');
    font-weight: 700;
}
<<<<<<< HEAD
=======

>>>>>>> 25a17c8106ef7dc25101204f9d11cec6ddd2bd85

/* .header */

 .header {
    padding: 25px 312px 25px 312px;  
/*    display: flex;
    justify-content: center;
    
    box-sizing: border-box; */
} 

.header-nav {

    display: flex;

    }

.header-nabla {
 /*   padding: 18px 312px; */
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px - 354px);
    max-width: 856px;




}
.header-list {
  /*  padding: 28px 708px 28px 0px; */
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-up {
    color: 040062; 
    text-decoration: none;
    display: flex;
    font-size: 16px;
    font-family: 'Ubuntu', Arial, sans-serif; 
}

.header-button {
    display: inline-block; /* Позволяет задать отступы и другие свойства */
    text-decoration: none; /* Убирает подчеркивание ссылки */
    width: 163px; /* размеры кнопки */
    height: 38px;
    justify-content: end;
    background-color: #0013FF;
    font-family: 'Ubuntu', Arial, sans-serif;
    color: white; 
    padding: 10px 20px; /* отступы текста */
    border: none; /* убрать классический стиль кнопки */
    border-radius: 20px; /* скругление краёв кнопки */
    cursor: pointer;
    font-size: 16px;
}

.header-but {
 /* padding: 18px 312px 18px 0px; */
}

/* .header */

/* .first */

.first__container {
    list-style: none;
    color: 040062;
    background-color: #C7E3E9;  
}

.first__txt {
    padding: 0px;
    list-style: none;
    text-align: center;
    font-size: 60px;
}

.first__txt2 {
    font-size: 80px;
}

.first__txt3 {
    font-size: 110px;
}

.first__img {
    justify-content: center;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
}

.first__list2 {
    margin-inline: calc(20px);
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 34px;
}

.first__img2 {
    padding: 0px; 34px;
    justify-content: left;
    list-style: none;
    display: flex;
}

.header-img3 {
    padding: 0px; 34px;
    justify-content: right;
    list-style: none;
    display: flex;
}
.first {
    padding: 0px 314px 0px 314px;
}

/* .first */
/* .content */

.justify-content__block {
    width: calc(100% - 60px + 60px);
    max-width: 856px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 218px;
}
.justify-content__block__1 {
    background-color: #FEF1EF;
    display: flex;
    justify-content: center;
    width: 648px;
    max-width: 648px;
    padding: 70px 207px;
    gap: 306px;
}

.justify-content__img {
    border-radius: 34px;
}

.justify-content__title {
    line-height: 120%;
    font-size: 48px;
    font-family: 'Abril Fatface', serif;
    color: #040062;
    max-width: 449;
}

.justify-content__text {
    line-height: 120%;
    font-size: 18px;
    font-family: 'Ubuntu', Arial, sans-serif;
    color: #6D758D;
    max-width: 488;
}