* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    }
.header-nabla {
    padding: 25px 50px 26px 312px;
    display: flex;
    color: 040062;
}
.header-list {
    padding: 28px 708px 28px 0px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-up {
    color: 040062; 
    text-decoration: none;
    display: flex;
    font-size: 16px;
    font-family: 'Ubuntu', Arial, sans-serif;
}

.header-right {
    justify-content: end;
    padding: 18px 312px 18px 0px;
}